@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("../bgPictures/wetOrange.jpg");
  background-size: cover;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.normalText-big {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    letter-spacing: 1.4px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}

.normalText-medium {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}

.normalText-small {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    letter-spacing: 1.4px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}


.err-message{
    font-family: Verdana;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    font-variant: small-caps;
    letter-spacing: 3px;
    background-color: #000000;
    color: #e60000;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ff9812;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ff9812;
  color: rgb(253, 250, 250);
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #ff9812;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.submitBtn:hover {
  background-color: #f5cf9e;
  transform: translateY(-1px);
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
  color: orange;
}

.remember {
  color: white;
  margin-left: 4px;
}
